<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>toy_1_0</key>
	<dict>
		<key>size</key>
		<string>{138, 187}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_1_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_1_1</key>
	<dict>
		<key>size</key>
		<string>{129, 133}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_1_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_1_2</key>
	<dict>
		<key>size</key>
		<string>{273, 369}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_1_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_2_0</key>
	<dict>
		<key>size</key>
		<string>{248, 529}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_2_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_2_1</key>
	<dict>
		<key>size</key>
		<string>{146, 141}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_2_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_2_2</key>
	<dict>
		<key>size</key>
		<string>{151, 152}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_2_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_3_0</key>
	<dict>
		<key>size</key>
		<string>{285, 283}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_3_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_3_1</key>
	<dict>
		<key>size</key>
		<string>{180, 242}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_3_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_3_2</key>
	<dict>
		<key>size</key>
		<string>{189, 320}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_3_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_4_0</key>
	<dict>
		<key>size</key>
		<string>{187, 238}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_4_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_4_1</key>
	<dict>
		<key>size</key>
		<string>{271, 247}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_4_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_4_2</key>
	<dict>
		<key>size</key>
		<string>{657, 439}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_4_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_5_0</key>
	<dict>
		<key>size</key>
		<string>{168, 200}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_5_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_5_1</key>
	<dict>
		<key>size</key>
		<string>{268, 267}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_5_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_5_2</key>
	<dict>
		<key>size</key>
		<string>{103, 309}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_5_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_6_0</key>
	<dict>
		<key>size</key>
		<string>{159, 160}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_6_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_6_1</key>
	<dict>
		<key>size</key>
		<string>{141, 161}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_6_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_6_2</key>
	<dict>
		<key>size</key>
		<string>{455, 164}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_6_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_7_0</key>
	<dict>
		<key>size</key>
		<string>{132, 186}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_7_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_7_1</key>
	<dict>
		<key>size</key>
		<string>{81, 237}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_7_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_7_2</key>
	<dict>
		<key>size</key>
		<string>{260, 201}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_7_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_8_0</key>
	<dict>
		<key>size</key>
		<string>{162, 329}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_8_0.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_8_1</key>
	<dict>
		<key>size</key>
		<string>{176, 181}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_8_1.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
	<key>toy_8_2</key>
	<dict>
		<key>size</key>
		<string>{176, 135}</string>
		<key>states</key>
		<array>
			<dict>
				<key>backgroundImage</key>
				<string>game_toy_8_2.png</string>
				<key>dragable</key>
				<true/>
				<key>interactive</key>
				<true/>
				<key>rotateble</key>
				<true/>
				<key>scaleble</key>
				<true/>
				<key>shouldBringToFront</key>
				<true/>
			</dict>
		</array>
		<key>type</key>
		<string>StatedObject</string>
	</dict>
</dict>
</plist>
